.Home {
  text-align: center;

}
.Home-body {
  color:white;
  font-size: calc(10px + 3vmin);
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}